<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="asset/icon.png">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@waritocomatta">
	<meta name="twitter:creator" content="@Swaritocomatta">
	<meta property="og:title" content="つくったものやインターンとかの話｜Motone Adachi｜@waritocomatta">
	<meta property="og:description" content="つくったものやインターンとかの話">
	<meta property="og:image" content="https://procla20181220.netlify.com/asset/thumbnail.png">
	<title>つくったものやインターンとかの話｜Motone Adachi｜@waritocomatta</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="reveal">
	<div id="fluffyLogo">
		<div class="logo">
			<span>N HIGH</span>
			<img src="asset/logo.svg" alt="logo">
			<span>SCHOOL</span>
		</div>
		<div class="logo">
			<img src="asset/logo.svg" alt="logo">
			<span>@waritocomatta</span>
		</div>
		<div class="logo">
			<img src="asset/logo.svg" alt="logo">
		</div>
		<div class="logo">
			<span>MOTONE</span>
			<img src="asset/logo.svg" alt="logo">
			<span>ADACHI</span>
		</div>
		<div class="logo">
			<span>足立</span>
			<img src="asset/logo.svg" alt="logo">
			<span>素音</span>
		</div>
	</div>
	<div class="inside-shadow-layer"></div>
	<div id="solid-animation"></div>
	<div id="check-animation"></div>
	<div class="slides">
		<section data-background-transition="zoom" style="filter: drop-shadow(1px 1px 8px #000000);">
			<section data-background="#e84118">
				<div id="scrollArea" class="fragment">
					<table id="fontStatus" style="font-size: 1em;font-family: 'fontopoSunnyDay-Regular';background-color: rgba(255,255,255,0.35);"></table>
				</div>
			</section>
            <section data-background="#e84118" data-background-transition="zoom" style="filter: drop-shadow(30px 30px 2px #000000);">
                <p id="titleStyle" style='font-family: "GLT-GonunneObsolete";'>
                    つくったものや<br>インターンとかの話
                </p>
            </section>
		</section>
        <section data-background-transition="zoom" style="filter: drop-shadow(30px 30px 2px #000000);">
            <section data-background="#e84118">
                <h1 id="profileStyle">
                    自己<span style="font-family: 'PixelMplus12-Regular';">紹</span>介
                </h1>
            </section>
            <section data-background="#e84118">
                <table style="font-size: 1.2em;font-family: 'GenEiAntique_v4';background-color: rgba(0,0,0,0.35);">
                    <tr>
                        <td>
                            🔧
                        </td>
                        <td>
                            Node.js周り (IntelliJ IDEA)
                        </td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">
                            インターン<br>アルバイト<br>請負/準委任
                        </td>
                        <td>
                            Grander → Aijus → techBeans → Aisii → JRCE → 某C社 2019/01 ~
                        </td>
                    </tr>
                    <tr>
                        <td>
                            進路
                        </td>
                        <td>
                            キリロム工科大学 🇰🇭
                        </td>
                    </tr>
                    <tr>
                        <td>
                            🎂
                        </td>
                        <td>
                            2000/12/25 (高3) 🎄
                        </td>
                    </tr>
                </table>
            </section>
        </section>
        <section>
            <section data-background="#e84118"><h1 id="actionStyle">インターン</h1></section>
            <section data-background="#e84118">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="ja" dir="ltr">【N高ブログ】＜インターンシップ体験記 Vol.4＞「JRCエンジニアリング株式会社」にて現場を学ぶ | N高等学校(通信制高校 広域・単位制) <a href="https://t.co/62nGunNPdz">https://t.co/62nGunNPdz</a><a href="https://twitter.com/hashtag/N%E9%AB%98?src=hash&amp;ref_src=twsrc%5Etfw">#N高</a> <a href="https://twitter.com/hashtag/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0?src=hash&amp;ref_src=twsrc%5Etfw">#プログラミング</a> <a href="https://twitter.com/hashtag/%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2?src=hash&amp;ref_src=twsrc%5Etfw">#エンジニア</a> <a href="https://twitter.com/hashtag/%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%83%E3%83%97?src=hash&amp;ref_src=twsrc%5Etfw">#インターンシップ</a> <a href="https://twitter.com/hashtag/JRC%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2%E3%83%AA%E3%83%B3%E3%82%B0?src=hash&amp;ref_src=twsrc%5Etfw">#JRCエンジニアリング</a></p>&mdash; Ｎ高等学校（学校法人角川ドワンゴ学園） (@nhigh_info) <a href="https://twitter.com/nhigh_info/status/1072397274599301120?ref_src=twsrc%5Etfw">December 11, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </section>
            <section data-background="#e84118">
                <table style="font-size: 1.2em;font-family: 'GenEiAntique_v4';background-color: rgba(0,0,0,0.35);">
                    <tr>
                        <td>
                            JRCエンジニアリング
                        </td>
                    </tr>
                    <tr>
                        <td>
                            三鷹の会社
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Excelファイルを取り扱うWindows Form applicationの改修
                        </td>
                    </tr>
                    <tr>
                        <td>
                            研究中の次世代センサをRaspberry Piから制御 (センサのテスト)
                        </td>
                    </tr>
                </table>
            </section>
            <section data-background="#e84118">
                <table style="font-size: 1.2em;font-family: 'GenEiAntique_v4';background-color: rgba(0,0,0,0.35);">
                    <tr>
                        <td>
                            push pop dirs コマンド便利
                        </td>
                    </tr>
                    <tr>
                        <td>
                            push 移動先のPATH
                        </td>
                    </tr>
                    <tr>
                        <td>
                            pop #前の場所へ戻る
                        </td>
                    </tr>
                    <tr>
                        <td>
                            dirs<br>#これまで移動した場所の一覧を見れる
                        </td>
                    </tr>
                </table>
            </section>
        </section>
        <section>
            <section data-background="#e84118"><h1 id="memoStyle"><span style="font-family: Helvetica;">Slack</span><br>形<span style="font-family: 'GenEiAntique_v4'; font-size: 0.9em;">態</span>素解析</h1></section>
            <section data-background="#e84118"><img src="asset/slamoji-repo.png"></section>
            <section data-background="#e84118"><img src="asset/slamoji-c4d.png"></section>
            <section data-background="#e84118">
                <table style="font-size: 1.2em;font-family: 'GenEiAntique_v4';background-color: rgba(0,0,0,0.35);">
                    <tr>
                        <td style="font-size: 2em;">
                            crew install jdk8
                        </td>
                    </tr>
                </table>
            </section>
            <!-- section data-background="#e84118"><span id="repo"></span></section -->
        </section>
        <section data-background="#e84118">
            <section data-background="#e84118">
                <h1 id="memoStyle" style="font-family: Helvetica">slack-pipe</h1>
            </section>
            <section data-background="#e84118">
                <table style="font-size: 1.2em;font-family: 'GenEiAntique_v4';background-color: rgba(0,0,0,0.35);">
                    <tr>
                        <td>
                            <a style="font-size: 0.9em;" href="https://github.com/waricoma/slack-pipe">https://github.com/waricoma/slack-pipe</a>
                        </td>
                    </tr>
                </table>
            </section>
            <section data-background="#e84118">
                <table style="font-size: 1.2em;font-family: 'GenEiAntique_v4';background-color: rgba(0,0,0,0.35);">
                    <tr>
                        <td>
                            firebase auth on Web (フロント側で)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            firebaseのsdkで情報取得 (Node.jsとか)
                        </td>
                    </tr>
                </table>
            </section>
        </section>
        <section data-background="#e84118">
            <section data-background="#e84118">
                <h1 id="memoStyle" style="font-family: Helvetica">line-msg</h1>
            </section>
            <section data-background="#e84118">
<pre><code>LineMsg.hears(/こんにちは|Hello/i, ['all'], event => {
  client.replyMessage(event.replyToken, {
    type: 'text',
    text: event.message.text
  });
});

const handleEvent = event => LineMsg.ear(event, event => {
  console.log(event);
});
</code></pre>
            </section>
            <section data-background="#e84118">
                <table style="font-size: 1.2em;font-family: 'GenEiAntique_v4';background-color: rgba(0,0,0,0.35);">
                    <tr>
                        <td>
                            <a href="https://real-escape.devne.co">https://real-escape.devne.co</a>
                        </td>
                    </tr>
                </table>
            </section>
        </section>
        <section data-background-transition="zoom" data-background="#e84118">
            <section data-background="#e84118">
                <h1 id="memoStyle">みんなでWebアプリ</h1>
            </section>
            <section data-background="#e84118">
                <table style="font-size: 1.2em;font-family: 'GenEiAntique_v4';background-color: rgba(0,0,0,0.35);">
                    <tr>
                        <td style="font-size: 3em;">
                            LIFFアプリ
                        </td>
                    </tr>
                </table>
            </section>
            <section data-background="#e84118">
<pre><code>liff.init(data => {
  $('#btn').click(() => {
    liff.sendMessages([{
      type: 'text',
      text: "Test Message"
    }, {
      type: 'sticker',
      packageId: '2',
      stickerId: '144'
    }]).then(() => {
      console.log(`👍`);
    }).catch(error => {
      console.log(`Error sending message: ${error}`);
    });
  });
});
</code></pre>
            </section>
            <section data-background="#e84118">
                <img src="asset/editor.png">
            </section>
        </section>
        <section>
            <section data-background="#e84118">
                <h1 id="memoStyle" style="font-family: Helvetica;">リレーがきた<br>⚙つくった</h1>
            </section>
            <section data-background="#e84118">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="ja" dir="ltr">学校にリレーが届きました♪ <a href="https://twitter.com/hashtag/%E9%9B%BB%E5%AD%90%E5%B7%A5%E4%BD%9C?src=hash&amp;ref_src=twsrc%5Etfw">#電子工作</a> <a href="https://t.co/1M5gnd46Nf">pic.twitter.com/1M5gnd46Nf</a></p>&mdash; waricoma💤 (@waritocomatta) <a href="https://twitter.com/waritocomatta/status/1071689397404200966?ref_src=twsrc%5Etfw">December 9, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </section>
            <section data-background="#e84118">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="ja" dir="ltr">印刷は後日 使い物になると良いのだが…👀 <a href="https://t.co/e9SZCQnvWu">pic.twitter.com/e9SZCQnvWu</a></p>&mdash; waricoma💤 (@waritocomatta) <a href="https://twitter.com/waritocomatta/status/1073550556050841600?ref_src=twsrc%5Etfw">December 14, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </section>
            <section data-background="#e84118">
                <table style="font-size: 1.2em;font-family: 'GenEiAntique_v4';background-color: rgba(0,0,0,0.35);">
                    <tr>
                        <td>
                            <a href="http://www.knowhave.com/gear/index.php">http://www.knowhave.com/gear/index.php</a>
                        </td>
                    </tr>
                </table>
            </section>
        </section>
        <section data-background-transition="zoom" data-background="#e84118">
            <h1 id="thanksStyle">
                ご清聴下さりありがとうございました。
                <br>
                m(_ _ )m <span style="font-family: 'PixelMplus12-Regular'">ﾍﾟｸﾘ</span>
            </h1>
        </section>
	</div>
</div>
<script src="js/reveal.js"></script>
<script src="js/main.js"></script>
<script src="lib/js/JQuery-Snowfall/dist/snowfall.jquery.min.js"></script>
<script src="lib/js/pointer.js"></script>
<script src="lib/js/repo.min.js"></script>
<script>
  $(document).snowfall({
    flakeCount : 50,
    minSize : 5,
    maxSize : 10,
    shadow : true
  });
  // $('#repo').repo({ user: 'waricoma', name: 'slamoji' });
</script>
<script src="https://embed.small.chat/T32N53BHDGBQ3Y05HP.js" async=""></script>
</body>
</html>
